In [1]:
# Import findspark and initialize. 
import findspark
findspark.init()

In [2]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

23/08/29 15:58:11 WARN Utils: Your hostname, MacBook-Pro-de-Emilio-6.local resolves to a loopback address: 127.0.0.1; using 192.168.15.6 instead (on interface en0)
23/08/29 15:58:11 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/08/29 15:58:12 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"

# Download the file to Spark's local file system 
spark.sparkContext.addFile(url)
file_path = SparkFiles.get("home_sales_revised.csv")

# Read the CSV file into a DataFrame
df = spark.read.csv(file_path, header=True, inferSchema=True)
df

DataFrame[id: string, date: date, date_built: int, price: int, bedrooms: int, bathrooms: int, sqft_living: int, sqft_lot: int, floors: int, waterfront: int, view: int]

In [4]:
# 2. Create a temporary view of the DataFrame.
df.createOrReplaceTempView("home_sales")

In [5]:
# 3. What is the average price for a four bedroom house sold in each year rounded to two decimal places?
# SQL query to calculate the average price for a four-bedroom house sold in each year
average_price_query = """
SELECT YEAR(date) AS year, 
       ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE bedrooms = 4
GROUP BY YEAR(date)
ORDER BY year
"""

# Run the query and store the result in a DataFrame
average_price_result = spark.sql(average_price_query)

# Show the result
average_price_result.show()

+----+-------------+
|year|average_price|
+----+-------------+
|2019|     300263.7|
|2020|    298353.78|
|2021|    301819.44|
|2022|    296363.88|
+----+-------------+

In [6]:
# 4. What is the average price of a home for each year the home was built that have 3 bedrooms and 3 bathrooms rounded to two decimal places?
# SQL query to calculate the average price for homes with 3 bedrooms and 3 bathrooms, grouped by the year built
average_price_query = """
SELECT date_built AS year_built, 
       ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3
GROUP BY date_built
ORDER BY year_built
"""

# Run the query and store the result in a DataFrame
average_price_result = spark.sql(average_price_query)

# Show the result
average_price_result.show()

+----------+-------------+
|year_built|average_price|
+----------+-------------+
|      2010|    292859.62|
|      2011|    291117.47|
|      2012|    293683.19|
|      2013|    295962.27|
|      2014|    290852.27|
|      2015|     288770.3|
|      2016|    290555.07|
|      2017|    292676.79|
+----------+-------------+

In [7]:
#  5. What is the average price of a home for each year built that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet rounded to two decimal places?
from pyspark.sql.functions import year, avg, round

# SQL query to calculate the average price for homes with specific criteria, grouped by the year built
average_price_query = """
SELECT date_built AS year_built, 
       ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE bedrooms = 3 AND bathrooms = 3 AND floors = 2 AND sqft_living >= 2000
GROUP BY date_built
ORDER BY year_built
"""

# Run the query and store the result in a DataFrame
average_price_result = spark.sql(average_price_query)

# Show the result
average_price_result.show()

+----------+-------------+
|year_built|average_price|
+----------+-------------+
|      2010|    285010.22|
|      2011|    276553.81|
|      2012|    307539.97|
|      2013|    303676.79|
|      2014|    298264.72|
|      2015|    297609.97|
|      2016|     293965.1|
|      2017|    280317.58|
+----------+-------------+

In [8]:
# 6. What is the "view" rating for the average price of a home, rounded to two decimal places, where the homes are greater than
# or equal to $350,000? Although this is a small dataset, determine the run time for this query.

# Start measuring time
start_time = time.time()

# SQL query to calculate the average price and "view" rating for homes greater than or equal to $350,000
average_price_view_query = """
SELECT view, 
       ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE price >= 350000
GROUP BY view
"""

# Run the query and store the result in a DataFrame
average_price_view_result = spark.sql(average_price_view_query)

# Show the result
average_price_view_result.show()

# Calculate and print the runtime
print("--- %s seconds ---" % (time.time() - start_time))

+----+-------------+
|view|average_price|
+----+-------------+
|  31|    399856.95|
|  85|   1056336.74|
|  65|    736679.93|
|  53|     755214.8|
|  78|   1080649.37|
|  34|    401419.75|
|  81|   1053472.79|
|  28|    402124.62|
|  76|   1058802.78|
|  26|    401506.97|
|  27|    399537.66|
|  44|    400598.05|
|  12|    401501.32|
|  91|   1137372.73|
|  22|    402022.68|
|  93|   1026006.06|
|  47|     398447.5|
|   1|    401044.25|
|  52|    733780.26|
|  13|    398917.98|
+----+-------------+
only showing top 20 rows

--- 0.44585680961608887 seconds ---

In [9]:
# 7. Cache the the temporary table home_sales.
spark.table("home_sales").cache()

DataFrame[id: string, date: date, date_built: int, price: int, bedrooms: int, bathrooms: int, sqft_living: int, sqft_lot: int, floors: int, waterfront: int, view: int]

In [10]:
# 8. Check if the table is cached.
spark.catalog.isCached('home_sales')

True

In [11]:
# 9. Using the cached data, run the query that filters out the view ratings with average price 
#  greater than or equal to $350,000. Determine the runtime and compare it to uncached runtime.

# Start measuring time
start_time = time.time()

# SQL query to calculate the average price and "view" rating for homes greater than 
# or equal to $350,000 using the cached data
average_price_view_query_cached = """
SELECT view, 
       ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE price >= 350000
GROUP BY view
"""

# Run the query using the cached data and store the result in a DataFrame
average_price_view_result_cached = spark.sql(average_price_view_query_cached)

# Show the result
average_price_view_result_cached.show()

# Calculate and print the runtime
print("Cached Runtime: --- %s seconds ---" % (time.time() - start_time))

# Start measuring time for the uncached query
start_time_uncached = time.time()

# SQL query to calculate the average price and "view" rating for homes greater than or 
# equal to $350,000 using uncached data
average_price_view_query_uncached = """
SELECT view, 
       ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE price >= 350000
GROUP BY view
"""

# Run the uncached query and store the result in a DataFrame
average_price_view_result_uncached = spark.sql(average_price_view_query_uncached)

# Show the result
average_price_view_result_uncached.show()

# Calculate and print the runtime for the uncached query
print("Uncached Runtime: --- %s seconds ---" % (time.time() - start_time_uncached))

+----+-------------+
|view|average_price|
+----+-------------+
|  31|    399856.95|
|  85|   1056336.74|
|  65|    736679.93|
|  53|     755214.8|
|  78|   1080649.37|
|  34|    401419.75|
|  81|   1053472.79|
|  28|    402124.62|
|  76|   1058802.78|
|  26|    401506.97|
|  27|    399537.66|
|  44|    400598.05|
|  12|    401501.32|
|  91|   1137372.73|
|  22|    402022.68|
|  93|   1026006.06|
|  47|     398447.5|
|   1|    401044.25|
|  52|    733780.26|
|  13|    398917.98|
+----+-------------+
only showing top 20 rows

Cached Runtime: --- 0.8101639747619629 seconds ---
+----+-------------+
|view|average_price|
+----+-------------+
|  31|    399856.95|
|  85|   1056336.74|
|  65|    736679.93|
|  53|     755214.8|
|  78|   1080649.37|
|  34|    401419.75|
|  81|   1053472.79|
|  28|    402124.62|
|  76|   1058802.78|
|  26|    401506.97|
|  27|    399537.66|
|  44|    400598.05|
|  12|    401501.32|
|  91|   1137372.73|
|  22|    402022.68|
|  93|   1026006.06|
|  47|     398447.5|
|   1|    401044.25|
|  52|    733780.26|
|  13|    398917.98|
+----+-------------+
only showing top 20 rows

Uncached Runtime: --- 0.23837494850158691 seconds ---

In [14]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data 
# Define the output path for the partitioned data
output_path = "./Home_Sales"

# SQL query to calculate the average price and "view" rating for homes greater than or equal to $350,000
average_price_view_query = """
SELECT view, 
       ROUND(AVG(price), 2) AS average_price
FROM home_sales
WHERE price >= 350000
GROUP BY view
"""

# Run the query and store the result in a DataFrame
average_price_view_result = spark.sql(average_price_view_query)

# Write the data partitioned by the "date_built" field
average_price_view_result.write.partitionBy("view").parquet(output_path)

In [15]:
# 11. Read the formatted parquet data.
# Define the path to the directory where the partitioned Parquet data is stored
input_path = "./Home_Sales"

# Read the partitioned Parquet data
partitioned_parquet_df = spark.read.parquet(input_path)

# Show the content of the DataFrame
partitioned_parquet_df.show()

+-------------+----+
|average_price|view|
+-------------+----+
|    401868.43|  10|
|    403005.77|   7|
|    397389.25|   2|
|    759150.14|  62|
|    400929.43|  43|
|    398592.71|   8|
|    788128.21|  51|
|   1061201.42|  99|
|    399758.88|  21|
|   1017815.92|  96|
|    1072285.2|  87|
|    991767.38|  80|
|    752861.18|  73|
|   1058802.78|  76|
|    398917.98|  13|
|    970402.55|  92|
|   1080649.37|  78|
|   1117233.13|  84|
|   1107839.15|  89|
|    798684.82|  54|
+-------------+----+
only showing top 20 rows

In [16]:
# 12. Create a temporary table for the parquet data.
partitioned_parquet_df.createOrReplaceTempView("parquet_home_sales")

# Now you can use SQL queries on the "parquet_home_sales" table/view
result = spark.sql("SELECT * FROM parquet_home_sales LIMIT 10")
result.show()

+-------------+----+
|average_price|view|
+-------------+----+
|    401868.43|  10|
|    403005.77|   7|
|    397389.25|   2|
|    759150.14|  62|
|    400929.43|  43|
|    398592.71|   8|
|    788128.21|  51|
|   1061201.42|  99|
|    399758.88|  21|
|   1017815.92|  96|
+-------------+----+

In [18]:
# 13. Run the query that filters out the view ratings with average price of greater than or eqaul to $350,000 
# with the parquet DataFrame. Round your average to two decimal places. 
# Determine the runtime and compare it to the cached version. 

# Start measuring time for the parquet query
start_time_parquet = time.time()

# SQL query to calculate the average price and "view" rating for homes greater than or equal to
# $350,000 using the parquet data
average_price_view_query_parquet = """
SELECT view, 
       ROUND(AVG(average_price), 2) AS average_price
FROM parquet_home_sales
WHERE average_price >= 350000
GROUP BY view
"""

# Run the query using the parquet data and store the result in a DataFrame
average_price_view_result_parquet = spark.sql(average_price_view_query_parquet)

# Show the result
average_price_view_result_parquet.show()

# Calculate and print the runtime for the parquet query
print("Parquet Runtime: --- %s seconds ---" % (time.time() - start_time_parquet))

+----+-------------+
|view|average_price|
+----+-------------+
|  96|   1017815.92|
|  43|    400929.43|
|   8|    398592.71|
|   7|    403005.77|
|  87|    1072285.2|
|  51|    788128.21|
|  10|    401868.43|
|  80|    991767.38|
|  73|    752861.18|
|  62|    759150.14|
|  21|    399758.88|
|   2|    397389.25|
|  99|   1061201.42|
|  65|    736679.93|
|  78|   1080649.37|
|  76|   1058802.78|
|  13|    398917.98|
|  40|    401767.82|
|  54|    798684.82|
|  19|    398953.17|
+----+-------------+
only showing top 20 rows

Parquet Runtime: --- 0.49629998207092285 seconds ---

In [19]:
# 14. Uncache the home_sales temporary table.
# Unpersist the cached data
spark.catalog.uncacheTable("home_sales")

In [20]:
# 15. Check if the home_sales is no longer cached
is_cached = spark.catalog.isCached("home_sales")

# Print the caching status
if is_cached:
    print("home_sales table is cached.")
else:
    print("home_sales table is not cached.")

home_sales table is not cached.